sc-centered h3.subtitle {
  margin: 0;
  padding: 0;
}
.ft-page.hilite h1, .ft-page.hilite h2, .ft-page.hilite h3, .ft-page.hilite h4 {
text-shadow: 2px 2px 2px whitesmoke;
-webkit-text-stroke: 1px white;
}
.centered {
display:block; margin:auto; text-align:center;
}